# Python
__pycache__/
*.pyc

# Entorno virtual
venv/
.env/

# Datos DICOM (volúmenes, raw, etc.)
data/

# Carpetas temporales
temp_downloads/
temp_uploads/
temp_views/

# Archivos grandes
*.npy
*.nii
*.nii.gz
